.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;	
	display: table;
}
.container-left {
	width: 690px;
	position: relative;	
	display: table;
	float: left;
}
.container-right {
	width: 296px;
	position: relative;	
	display: table;
	float: right;
}
.login-box {
	width: 308px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 0 auto; 
	padding: 30px;
	overflow: hidden;
}
.title {
	margin: 30px 0;
	text-align: center;
	font-size: 24px;
}
.def-inp {
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0 5px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	margin: 10px 0 15px;
}
.def-btn {
	height: 34px;
	width: 100%;
	background: #1976D2;
	border-radius: 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}

.publish-box {
	box-sizing: border-box;
	width: 700px;
	padding: 30px;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.def-teaxt {
	width: 100%;
	margin: 15px 0;
	border: none;
	border-radius: 3px;
	height: 150px;
	padding: 10px;
	font-size: 15px;
	color: #404040;
	resize: none;
}
.main-left {
	width: 632px;
	overflow: hidden;
	float: left;
}
.main-right {
	width: 280px;
	float: right;
	overflow: hidden;
}
.mr-item-box {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.mr-item {
	height: 28px;
	width: 100%;
	line-height: 28px;
	margin-top: 5px;
}
.mr-item-a {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	color: #666;
	padding-left: 10px;
}
.mr-item-a:hover {
	background: #eff6fa;
	color: #259 !important;
}
.mr-item-active {
	background: #eff6fa;
	color: #259 !important;
}
.mr-item a:hover {
	color: #259;
}
.list-section {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
	padding: 25px 0;
	list-style-type: none;
}
.list-section:last-child {
	border-bottom: none;
}
.liner-gray-btn {
	color: #666!important;
    text-shadow: 0 1px 0 #fff;
    background: #f1f1f2;
    background: -webkit-linear-gradient(top,#f8f8f9,#e6e6e8);
    background: linear-gradient(to bottom,#f8f8f9,#e6e6e8);
    border: 1px solid #bbb;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0,0,0,.1);
    display: block;
    height: 32px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}
.liner-gray-btn:hover {
	background: -webkit-linear-gradient(top,#f8f8f9,#e0e0e2);
    background: linear-gradient(to bottom,#f8f8f9,#e0e0e2);
}
.ar-title {
	font-size: 24px;
	font-weight: normal;
}
.ar-top {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #e7eaf1;
	padding: 20px 0; 
	background: #fff;
}
.ar-do-box {
	color: #8590a6;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 15px;
}
.ar-left {
	width: 680px;
	float: left;
	overflow: hidden;
}
.ar-right {
	width: 280px;
	float: right;
	overflow: hidden;
}
.ar-msg-box {
	height: 38px;
	width: 280px;
}
.ar-num-board {
	height: 38px;
	width: 100px;
	float: right;
}
.ar-number-item {
	font-size: 14px;
	color: #8590a6;
	line-height: 14px;
	text-align: center;
}
.ar-number-item-val {
	font-size: 18px;
	color: #404040;
	text-align: center;
	margin-top: 5px;
}
.content {
	font-size: 13px;
	line-height: 1.5;
	color: #404040;
}

.article-title {
	font-size: 15px;
	font-weight: bold;
	color: #259;
}
.article-title:hover {
	text-decoration: underline;
}
.gray-content {
	font-size: 13px;
	color: #999;
	margin-top: 12px;
}
.follow {
	color: #999;
}
.follow:hover {
	text-decoration: underline;
	color: #259;
}
.main-author {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	position: relative;
}
.per-msg-box {
	width: 380px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
	z-index: 999;
	box-sizing: border-box;
	padding: 15px;
	position: absolute;
	top: 25px;
}
.arguments-box {
	width: 100%;
	float: left;
	margin-top: 20px;
	background: #fff;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #e7eaf1;
	border-radius: 5px;	
	box-shadow: 0 1px 3px rgba(0,37,55,.05);
}
.argument-title {
	height: 33px;
	color: #404040;
	display: block;
	border-bottom: 1px solid #f0f2f7;
	font-size: 16px;
}
.argument-content {
	font-size: 15px;
	color: #404040;
	line-height: 1.5;
	margin-top: 8px;
}
.argument-time {
	font-size: 14px;
    color: #8590a6;
    margin-top: 10px;
}
.about-author {
	box-sizing: border-box;
	border: 1px solid #e7eaf1;
	box-shadow: 0 1px 3px rgba(0,37,55,.05);
	width: 100%;
	border-radius: 5px;
	background: #fff;
	margin-top: 20px;
	padding: 16px;
}
.card-section {
	border-bottom: 1px solid #f0f2f7;
	padding: 15px 0;
}
.account {
	font-size: 16px;
	color: #404040;
	font-weight: 800;
}
.about-author-msg {
	overflow: hidden;
	padding: 15px 0;
}
.author {
	font-weight: bold;
	font-size: 15px;
	color: #666;
}
.small-btn {
	color: #8590a6;
    border: 1px solid #ccd8e1;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: none;
}

.light-btn {
	color: #1976D2;
	border-color: #1976D2;
}

/*分页样式*/
.page-box {
	overflow: hidden;
	margin-top: 15px;
}
.page-sections {
	height: 24px;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
	float: left;
	background: #fff;
	margin-right: 5px;
	padding: 0 10px;
	line-height: 24px;
	cursor: pointer;
}
.active {
	background: #1976D2;
	border-color: #1976D2; 
	color: #fff;
}
.gz-bar {
	height: 24px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.gz-title {
	color: #666;
	font-size: 14px;
}
.gz-small {
	font-weight: normal;
	font-size: 14px;
}

.p-top {
	position: relative;
	height: 300px;
	background: url('../images/cover.jpg') no-repeat center -176px, #fff;
	background-size: cover;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
    margin-top: 15px;
}
.userPhoto {
	height: 160px;
	width: 160px;
	border-radius: 8px;
	border: 4px solid #e4e5e6;
	position: absolute;
	top: 100px;
	left: 25px;
	overflow: hidden;
}
.userPhoto img {
	width: 100%;
	border-radius: 5px;
}
.userInfo {
	width: 760px;
	height: 130px;
	position: absolute;
	right: 0;
	top: 138px;
}
.p-username {
	font-size: 26px;
	color: #333;
}
.p-email {
	font-size: 16px;
	margin-top: 10px;
	color: #666;
}
.p-dobox {
	height: 36px;
	margin-top: 24px;
}
.blue-border-btn {
	color: #0f88eb;
    border: 1px solid #0f88eb;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: none;
}
.blue-border-btn:hover {
	background-color: rgba(13,121,209,.06);
}
.blue-back-btn {
	color: #fff;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: #0f88eb;
}
.blue-back-btn:hover {
	background: #0d79d1;
}
.gray-btn {
	color: #fff;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: #abb6c5;
}
.profile {
	width: 690px;
	background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
.p-margin {
	margin-top: 14px;
	width: 100%;
	overflow: hidden;
}
.pf-tab-box {
	height: 56px;
	width: 100%;
	border-bottom: 1px solid #f0f2f7;
}
.pf-items {
	height: 56px;
	padding: 0 20px;
	display: inline-block;
}
.pf-items-a {
	position: relative;
    display: inline-block;
    padding: 16px 0 17px;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    text-align: center;
}
.pf-isActive:after {
	position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
    background: #0f88eb;
    content: "";
}
.pf-meta {
	margin-left: 6px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #a1aebf;
}
.pf-section {
	box-sizing: border-box;
	padding: 0 24px;
	overflow: hidden;
}
.pf-section-title {
	display: block;
	height: 54px;
	font-size: 16px;
	line-height: 54px;
	border-bottom: 1px solid #f0f2f7;
	font-weight: bold;
} 
.pf-article-title {
	font-size: 18px;
	color: #333;	
}