.header-nav {
	height: 45px;
	width: 100%;
	background: linear-gradient(to bottom,#086ed5,#055db5);
	border-bottom: 1px solid #044e97;
}
.container {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	display: block;
	height: 45px;
	float: left;
	font-size: 24px;
	color: #fff;
	line-height: 45px;
	font-weight: bold;
}
.navbar-right {
	float: right;
}
.navbar-right li {
	height: 45px;
	float: left;
	line-height: 45px;
	margin-left: 20px;
}
.navbar-right li a {
	color: #fff;
	font-size: 14px; 
}
.navbar-right li a:hover {
	text-decoration: underline;	
}

.login-box {
	width: 308px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 0 auto; 
	padding: 30px;
	overflow: hidden;
}
.title {
	margin: 30px 0;
	text-align: center;
	font-size: 24px;
}
.def-inp {
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0 5px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	margin: 10px 0 15px;
}
.def-btn {
	height: 34px;
	width: 100%;
	background: #1976D2;
	border-radius: 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}

.publish-box {
	box-sizing: border-box;
	width: 700px;
	padding: 30px;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.def-teaxt {
	width: 100%;
	margin: 15px 0;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	border-radius: 3px;
	height: 150px;
	padding: 10px;
}
.main-left {
	width: 632px;
	overflow: hidden;
	float: left;
}
.main-right {
	width: 280px;
	float: right;
	overflow: hidden;
}
.mr-item-box {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.mr-item {
	height: 28px;
	width: 100%;
	line-height: 28px;
	margin-top: 5px;
}
.mr-item-a {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	color: #666;
	padding-left: 10px;
}
.mr-item-a:hover {
	background: #eff6fa;
	color: #259 !important;
}
.mr-item-active {
	background: #eff6fa;
	color: #259 !important;
}
.mr-item a:hover {
	color: #259;
}
.list-section {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

.content {
	font-size: 13px;
	line-height: 1.5;
	color: #333;
	margin-top: 5px;
}

.article-title {
	font-size: 15px;
	font-weight: bold;
	color: #259;
	display: block;
}
.article-title:hover {
	text-decoration: underline;
}
.gray-content {
	font-size: 13px;
	color: #999;
	margin-top: 12px;
}
.follow {
	color: #999;
}
.follow:hover {
	text-decoration: underline;
	color: #259;
}
.main-author {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
	display: block;
}

.arguments-box {
	width: 100%;
	margin-top: 20px;
	background: #f6f6f6;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;	
}

.author {
	font-weight: bold;
	font-size: 13px;
	color: #666;
}
.small-btn {
	cursor: pointer;
	height: 26px;
	padding: 0 10px;
	line-height: 26px;
	border: 1px solid #ddd;
	margin-top: 10px;
	border-radius: 3px;
}

.light-btn {
	background: #1976D2;
	color: #fff;
	border-color: #1976D2;
}

/*分页样式*/
.page-box {
	overflow: hidden;
	margin-top: 15px;
}
.page-sections {
	height: 24px;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
	float: left;
	background: #fff;
	margin-right: 5px;
	padding: 0 10px;
	line-height: 24px;
	cursor: pointer;
}
.active {
	background: #1976D2;
	border-color: #1976D2; 
	color: #fff;
}