<div class="ar-top">
	<div class="container">
		<div class="ar-left">
			<h2 class="ar-title">
			{{ resData.article.title }}
			</h2>
			<p class="ar-do-box">
				发布于 {{ resData.article.create_at | date:'yyyy-MM-dd' }} 发布者 {{ resData.article.author }} 
				<!-- <button class='small-btn' ng-click="praise(0)" ng-class="stepClass">踩:{{ resDate.step }}</button> -->
			</p>
			<div class="p-dobox">
				<button class="" ng-class="{1:'gray-btn', 0: 'blue-back-btn'}[resData.isFollow]" ng-click="follow(resData.article._id, resData)">{{ resData.isFollow ? '正在关注' : '关注文章' }}</button>
				<button class='small-btn' ng-click="praise(1)" ng-class="pushClass">{{ resData.article.push }} 人觉得很赞</button>
			</div>
		</div>
		<div class="ar-right">
			<div class="ar-msg-box">
				<div class="ar-num-board" style="border-left: 1px solid #f0f2f7">
					<div class="ar-number-item">
						关注者
					</div>
					<div class="ar-number-item-val">
						{{ resData.followCount }}
					</div>
				</div>
				<div class="ar-num-board">
					<div class="ar-number-item">
						被浏览
					</div>
					<div class="ar-number-item-val">
						151001
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ar-top">
	<div class="container">
		<p class="content">
			{{ resData.article.content }}
		</p>
	</div>
</div>
<div class="container">
	<div class="arguments-box">
		<h2>
			评论
		</h2>
		<ul>
			<li class="list-section" ng-repeat="argument in argumentsData">
				<p>
					<span class="author">{{ argument.author }}</span>
					<span style="color: #aaa; margin-left: 15px">{{ argument.create_at | date: 'yyyy-MM-dd HH:mm' }}</span>
				</p>
				<p class="content">
					{{ argument.content }} 
				</p>
			</li>
		</ul>
		<div class="page-box">
			<ul>
				<li class="page-sections" ng-class="i.style" ng-click="getArgument(i.num)" ng-repeat="i in pageCount">
					{{ i.num }}
				</li>
			</ul>
		</div>
		<textarea ng-model="newArgument" class="def-teaxt" placeholder="我的回复"></textarea>
		<button  class="def-btn" ng-click="update()">update</button>
	</div>
</div>