<ul>
	<li class="list-section" ng-repeat="list in lists">
		<a class="article-title" ng-href="#/article/{{ list._id }}">
			{{ list.title }}
		</a>
		<div>
			<a href="javascript:;" class="main-author" ng-href="#/personal-center/{{ list.author }}"> 
				{{ list.author }} 
				<!-- <div class="per-msg-box">

				</div> -->
			</a>
			
		</div>
		<p class="content" style="margin-top:10px">
			{{ list.content }}
		</p>
		<p class="gray-content">
			<a href="javascript:;" class="follow" ng-click="follow(list._id, list)">	{{ list.isFollow ?  '取消关注' : '关注文章' }}
			</a>
			▪ {{ list.push }}人赞同 ▪ 发表于{{ list.create_at | date:'yyyy-MM-dd HH:mm' }} <!-- 踩: {{ list.step }} -->
		</p>	
	</li>
</ul>
<button class="liner-gray-btn" ng-click="getArticleList()">{{  noMore === false ? '获取更多内容' : '没有更多了' }}</button>