<ul>
	<li class="list-section" ng-repeat="list in lists">
		<a class="article-title" ng-href="#/article/{{ list._id }}">
			{{ list.title }}
		</a>
		<a href="javascript:;" class="main-author"> {{ list.author }} </a>
		<p class="content">
			{{ list.content }}
		</p>
		<p class="gray-content">
			<a href="javascript:;" class="follow" ng-click="follow(list._id, list.isFollow)">{{ list.isFollow ? '取消关注' : '关注文章' }}</a>
			▪ {{ list.push }}人赞同 ▪ 发表于{{ list.create_at | date:'yyyy-MM-dd HH:mm' }} <!-- 踩: {{ list.step }} -->
		</p>	
	</li>
</ul>