<div class="container" style="margin-top: 20px;">
	<div class="main-left" ui-view>
		
	</div>
	<div class="main-right">
		<ul class="mr-item-box">
			<li class="mr-item">
				<a href="javascript:;" class="mr-item-a" ng-class="{1: 'mr-item-active'}[flag]" ng-click="tab(1)" ui-sref=".main-article-list">我的收藏</a>
			</li>
			<li class="mr-item">
				<a href="javascript:;" class="mr-item-a" ng-class="{2: 'mr-item-active'}[flag]" ng-click="tab(2)" ui-sref=".my-follow">我关注的问题</a>
			</li>
		</ul>
	</div>	
</div>